.admin-tab{
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.admin-tab li {
    float: left;
    margin: 0 10px;
}
.admin-tab li a{
    line-height: 60px;
    padding: 0 10px;
    color: #222;
    display: block;
    font-weight: 600;
}
.admin-tab li.active a {
    box-shadow: 0 2px 0 0 #5c626d inset;
}
.tab-container{
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}